@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Font Style */
$italic: italic;

/* Font Weight */
$light: 300; 
$regular: 400;
$medium: 500;
$semi-bold: 600;
$semi-bold-italic: 600i;
$bold: 700;